ion-textarea{
    border: solid 1px #cccccc;
    height: 50%;
    border-radius: 3%;
    margin-bottom: 5%
 }
 ion-select{
    border: solid 1px #cccccc;
    height: 50%;
    border-radius: 3%;
    margin-bottom: 5%;
 }
ion-input {
    border: solid 1px #cccccc;
    margin-bottom: 5%
}
ion-datetime {
    border: solid 1px #cccccc;
    margin-bottom: 5%
}
.img-services {
    height: 80px;
    width: 80px;
}