<ion-content padding>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="3" size-xs="12">
      <div text-center class="title">
        <h1>Iniciar Sesión</h1>
      </div>
    </ion-col>
  </ion-row>
  <form [formGroup]="loginForm">
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
              </div>
              <div padding>
                <ion-item>
                  <ion-input type="email" formControlName="email" placeholder="your@email.com"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
                </ion-item>      
              </div>
              <div padding>
                <ion-button (click)="enviar()" size="large" expand="block" fill="solid" 
                [disabled]="!loginForm.valid">
                    Login
                </ion-button>
              </div>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="3" size-xs="12">
            <div class="title" text-center>
              Si aun no tiene una cuenta, por favor <a routerLink='/register'>
              Registrese</a>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
