.iconSize {
    font-size: 30px;
  }
.my-custom-menu {
  --width: 500px;
}
.ion-item-border {
  width: 90%;
  margin-left: 5%;
  border-radius: 1% !important;
  margin-bottom: 10px;
}
.header {
  height: 9% !important;
  align-items: center;
  justify-content: center;
}
.header-style {
  --background: #3880FF !important;
  color: white;
  height: 100% !important;    
}